<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slm.mybatis.mapper.UserMapper">

    <resultMap id="user" type="com.slm.mybatis.entity.User">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="birthday" column="birthday" />
    </resultMap>

    <select id="queryPage" resultMap="user">
        select * from user order by id
    </select>

    <select id="queryPageByPlugin" resultMap="user">
        select * from user order by id
    </select>

    <select id="getUserById" resultType="com.slm.mybatis.entity.User">
        select * from user where id = #{id}
        <if test="type == @com.slm.mybatis.model.Type@ORDER">
            and type = #{type}
        </if>
    </select>

    <insert id="insertUser" parameterType="com.slm.mybatis.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (name, birthday) values (#{name}, #{birthday})
    </insert>

    <insert id="updateUser" parameterType="com.slm.mybatis.entity.User">
        update user set name = #{name} where id = #{id}
    </insert>

    <delete id="deleteUserById">
        delete from user where id = #{id}
    </delete>

</mapper>